.footer-container {
  width: 1440px;
  height: 94px;
  background: #424242;

  .footer-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 60px;
    .footer-contents {
      font-family: Roboto;
      font-size: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
  }
}
