.header-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background: white;
  width: 1440px;
  height: auto;
  justify-content: center;
  border-top: 42px;
  z-index: 1000;

  .upload-header-container {
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    z-index: 10000;

    .upload-header-check-box {
      width: 180px;
      height: 50px;
      border: 1px solid #f5f5f7;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      color: #ababab;
      gap: 20px;
    }
    .selected {
      color: #00c78c;
      box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.08);
      border: 0.3px solid #f5f5f7;
    }
  }

  .header-title-container {
    display: flex;
    background: #ffffff;
    padding-left: 110px;
    align-items: center;
    width: 1440px;
    height: 100px;

    .header-main {
    }

    .header-title-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 45px;
      width: 653px;
      height: 29px;
      margin-left: 127px;
      gap: 45px;
      font-weight: 700;

      .header-title-menu {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
      }

      :hover {
        color: gray;
      }

      .active {
        // color: rgb(255, 111, 15);
      }
    }

    .header-login-container {
      display: flex;
      gap: 15px;

      .header-login {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;
        background: #ffffff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100px;
        height: 44px;
        gap: 10px;
        border-radius: 25.5px;
      }

      :hover {
        background-color: rgb(209, 211, 216);
        color: gray;
      }

      .header-logout {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;
        background: #ffffff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100px;
        height: 44px;
        gap: 10px;
        border-radius: 25.5px;
      }

      .header-mypage {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;
        background: #ffffff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100px;
        height: 44px;
        gap: 10px;
        border-radius: 25.5px;
      }
    }
  }
}
