.layout-container {
  font-family: "Apple SD Gothic Neo";
  width: 1440px;

  @media (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto; /* 가운데 정렬 */
  }

  .main-container {
    margin-top: 180px;
  }
}
