.pj-detail-container {
  width: 1440px;
  .pj-detail-main-container {
    margin-top: 30px;
    display: flex;
    .pj-detail-boost-sub-main {
      margin-top: 14px;
      border-radius: 10px;
      opacity: 1;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      width: 506px;
      height: 736px;
      padding: 20px 15px;
    }
  }
  .pj-detail-show-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    .pj-detail-show-title {
      margin-left: 107px;
      font-size: 35px;
      font-weight: 700;
      color: #000000;
    }
    .pj-detail-show-img-slice {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 17px;
      .pj-detail-show-left-btn,
      .pj-detail-show-right-btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
      }
      .pj-detail-show-img-section {
        width: 506px;
        height: 653px;
        // 연동후 배경 지우기
        background: gray;
        .pj-detail-show-image {
          width: 506px;
          height: 653px;
          object-fit: cover;
        }
      }
    }
    .pj-detail-show-sub-title {
      margin-left: 107px;
      margin-top: 31px;
    }
  }
  .pj-detail-boost-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    .pj-detail-boost-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 506px;
      height: 75px;
      border-radius: 10px;
      opacity: 1;
      background: #f5f5f7;
      font-weight: 400;
      font-size: 23px;
      font-weight: 500;
      .pj-detail-boost-num {
        color: #ff5c2f;
      }
    }
    .pj-detail-boost-main {
      margin-top: 14px;
      border-radius: 10px;
      opacity: 1;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      width: 506px;
      height: 750px;
      padding: 15px 15px;
      .pj-detail-boost-main-title-container {
        width: 100%;
        height: 95px;
        display: flex;
        .pj-detail-boost-main-title {
          margin-top: 19px;
          margin-left: 18px;

          .pj-detail-boost-main-title-h1 {
            font-size: 23px;
            font-weight: 700;
            letter-spacing: 0em;
            color: #000000;
          }
          .pj-detail-boost-main-title-sub {
            font-size: 15px;
            letter-spacing: 0em;
            color: #7f7f7f;
          }
        }
        .pj-detail-boost-main-see-all {
          margin-top: 20px;
          margin-left: 160px;
          text-underline-offset: 5px;
          text-decoration: underline;
          text-decoration-color: #424242;
          font-size: 15px;
          text-align: right;
          letter-spacing: 0em;
          color: #424242;
        }
      }
      .pj-detail-boost-ranking-container {
        width: 100%;
        height: 300px;

        .pj-detail-boost-rank-container {
          display: flex;
          align-items: center;
          width: 100%;
          height: 85px;
          margin-bottom: 20px;
          .pj-detail-boost-rank-num {
            width: 70px;
            height: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .pj-detail-boost-rank-img {
            width: 68px;
            height: 68px;
            background: gray;
            border-radius: 100px;
          }
          .pj-detail-boost-rank-content {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            .pj-detail-boost-rank-name {
              font-size: 18px;
              letter-spacing: 0em;
              color: #000000;
              font-weight: 700;
            }
            .pj-detail-boost-rank-won-box {
              font-size: 15px;
              display: flex;
              font-weight: 600;
              color: #424242;
              .pj-detail-boost-rank-won {
                color: #00c78c;
              }
            }
          }
        }

        .pj-line {
          margin: 0 auto;
          opacity: 1;
          border: 0.5px solid #d9d9d9;
          width: 474px;
          height: 1px;
        }
        .pj-detail-boost-rank-Amount-won-box {
          width: 474px;
          height: 25%;
          display: flex;
          margin: 0 auto;
          padding-top: 10px;
          .pj-detail-boost-rank-Amount-won-title {
            width: 86px;
            font-size: 23px;
            font-weight: 700;
            padding-top: 10px;
          }
          .pj-detail-boost-rank-Amount-won-content {
            width: 388px;
            display: flex;
            align-items: center;

            .pj-detail-boost-rank-Amount-won-content-num {
              width: 100%;

              display: flex;
              flex-direction: column;

              .pj-detail-boost-rank-Amount-won-content-num-won {
                font-family: "Bruno Ace", sans-serif;
                width: 100%;
                display: flex;
                margin-left: auto;
                justify-content: flex-end;
                align-items: center;
                color: #00c78c;
                font-weight: 400;
                font-size: 25px;

                .pj-detail-boost-rank-Amount-won-content-num-won-unit {
                  color: #000000;
                  font-size: 18px;
                }
              }
              .pj-detail-boost-rank-Amount-won-content-percent {
                text-align: right;
              }
            }
          }
        }
        .pj-detail-boost-rank-period-box {
          width: 474px;
          height: 25%;
          display: flex;
          align-items: center;
          margin: 0 auto;
          .pj-detail-boost-rank-period-title {
            width: 86px;
            font-size: 23px;
            font-weight: 700;
          }
          .pj-detail-boost-rank-period-content {
            font-family: "Bruno Ace", sans-serif;
            width: 388px;
            display: flex;
            margin-left: auto;
            justify-content: flex-end;
            display: flex;
            align-items: center;
            color: #00c78c;
            font-weight: 400;
            font-size: 25px;

            .pj-detail-boost-rank-period-content-day {
              color: #000000;
              font-size: 18px;
            }
          }
        }
        .pj-detail-boost-rank-btn-container {
          width: 474px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 21px;
          margin: 0 auto;
          .pj-detail-boost-rank-like-btn {
            opacity: 1;
            background: #ffffff;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            width: 83px;
            height: 83px;
            border-radius: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .pj-detail-boost-rank-like-num {
            }
          }
          .pj-back {
            width: 123px;
            height: 64px;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
          }
          .pj-detail-boost-rank-boost-btn {
            border-radius: 10px;
            opacity: 1;
            background: #00c78c;
            width: 359px;
            height: 64px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
          }
        }
      }
    }
  }
}
.pj-detail-main-line {
  opacity: 1;
  background: #f5f5f7;
  width: 1440px;
  height: 14px;
  margin-top: 51px;
}
.pj-detail-review-container {
  display: flex;
  width: 1440px;
  margin-top: 20px;

  .pj-detail-review-container-box {
    width: 1220px;

    margin: auto;
    .pj-detail-review-container-box-header {
      display: flex;
      gap: 50px;
      .menu-item {
        font-size: 21px;
        color: #d9d9d9;
        cursor: pointer;
      }

      .menu-item.active {
        color: #00c78c;
        text-decoration: underline;
        text-underline-offset: 7px;
      }
    }
    .pj-detail-review-container-box-content {
      .pj-plan-container {
        width: 1220px;
        height: 664px;
        border-radius: 10px;
        opacity: 1;
        background: #ffffff;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        margin-top: 43px;
        margin-bottom: 58px;
        padding: 35px 52px;
        font-size: 23px;
      }
      .pj-deadline-container {
        width: 1220px;
        height: auto;
        border-radius: 10px;
        opacity: 1;
        background: #ffffff;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        margin-top: 43px;
        margin-bottom: 171px;
        padding: 40px 37px;
        .pj-deadline-non-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          height: 670px;
          gap: 20px;
        }
        .pj-deadline-title-container {
          width: 100%;
          display: flex;
          .pj-deadline-title {
            font-size: 32px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            .pj-deadline-sub-title {
              font-size: 20px;
              color: #ababab;
              font-weight: 400;
            }
          }
          .pj-share-icon {
            display: flex;
            justify-content: flex-end;
            margin-left: auto;
            margin-top: 15px;
          }
        }
        .pj-deadline-line {
          opacity: 1;
          border: 0.5px solid #d9d9d9;
          margin-top: 35px;
        }
        .pj-deadline-content {
          font-size: 23px;
          margin-top: 42px;
        }
      }
    }
  }
}
.pj-boost-reviews-container {
  width: 1220px;
  .pj-boost-reviews-comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .pj-boost-review-comments-container {
      margin-top: 42px;
      margin-bottom: 80px;
      .pj-boost-review-comments-select-rank-btn {
        display: flex;
        justify-content: flex-end;
        font-size: 22px;

        color: #424242;
      }
      .pj-boost-review-show-comments-container {
        width: 1220px;
        height: 1110px;
        border-radius: 10px;
        opacity: 1;
        background: #ffffff;
        border: 1px solid #d9d9d9;
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        padding-left: 37px;
        padding-top: 20px;
        padding-bottom: 20px;
        .pj-boost-comments-box {
          display: flex;
          width: 960px;
          height: 130px;
          align-items: center;
          + .pj-boost-comments-box {
            opacity: 1;
            width: 1120px;
            border-top: 0.5px solid #d9d9d9; /* Gray 02 */
            margin-top: 15px; /* Optional spacing adjustment */
            padding-top: 15px; /* Optional spacing adjustment */
          }
          .pj-boost-reviews-show-comments-user-name {
            display: flex;
            flex-direction: column;
            font-size: 25px;
            color: #000000;
            font-weight: 700;
            .pj-boost-reviews-show-comments-user-day {
              font-size: 16px;
              color: #7f7f7f;
            }
          }
          .pj-boost-reviews-show-comments-content {
            margin-left: 40px;
            .pj-boost-reviews-show-comments-content-user {
              font-size: 18px;

              display: flex;
              align-items: center;

              color: #7f7f7f;
            }
            .pj-boost-reviews-show-comments-content-user-write {
              width: 900px;
              font-size: 20px;
              display: flex;
              align-items: center;
              color: #000000;
            }
          }
        }
      }
      .pj-comments-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-top: 40px;
      }
    }
  }
}

.pj-boost-title {
  font-size: 23px;
  font-weight: 700;
}
.pj-boost-name-box {
  font-size: 20px;
  margin-top: 15px;
  .pj-boost-name-input {
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-top: 10px;
  }
}
.pj-boost-pay-method-container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .pj-pay-method-boxs-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    .pj-pay-method-box {
      width: 200px;
      height: 60px;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pj-pay-method-boxactive {
      background: #00c78c;
      color: #ffffff;
      width: 200px;
      height: 60px;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .pj-lines {
    margin: 0 auto;
    opacity: 1;
    border: 0.5px solid #d9d9d9;
    width: 474px;
    height: 1px;
    margin-top: 31px;
  }
  .pj-booost {
    display: flex;
    .pj-boost-reviews-comment-write-btn {
      font-size: 23px;
      font-weight: 700;
      color: #00c78c;
      display: flex;
      margin-left: 10000px;
      gap: 10px;
    }

    // 유저,기업 프로필
    .pj-boost-reviews-comment-box {
      width: 100%;
      height: 161px;
      border-radius: 10px;
      opacity: 1;
      background: #f5f5f7;
      margin-top: 13px;
      .pj-boost-reviews-user-container {
        display: flex;
        height: 100%;
        padding-top: 34px;
        margin-left: 37px;
        .pj-boost-reviews-user-img {
          width: 89px;
          height: 89px;
          border-radius: 100px;
          // 이미지 연동 필요
          background: gray;
          margin-right: 29px;
        }
        .pj-boost-reviews-user-name {
          display: flex;
          flex-direction: column;
          font-size: 25px;
          color: #000000;
          font-weight: 700;
          .pj-boost-reviews-user-day {
            font-size: 16px;
            color: #7f7f7f;
          }
        }
        .pj-boost-reviews-comment-content {
          margin-left: 40px;
          .pj-boost-reviews-comment-content-user {
            font-size: 18px;

            display: flex;
            align-items: center;

            color: #7f7f7f;
          }
          .pj-boost-reviews-comment-content-user-write {
            width: 900px;
            font-size: 20px;
            display: flex;
            align-items: center;
            color: #000000;
          }
        }
      }
    }
  }
}
.pj-deadline-non-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 670px;
  gap: 20px;
}
