.upload-container {
  width: 1440px;
  height: auto;
  .upload-main-container {
    margin-top: 60px;
    display: flex;
    .upload-main-logo-container {
      width: 50%;
      display: flex;
      justify-content: center;

      margin-top: 130px;
    }
    .upload-main-write-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
}

.pj-category-container {
  width: 100%;
  .pj-category-container-title {
    font-size: 23px;
    font-weight: 600;
  }
  .pj-category-select-btn-container {
    display: flex;
    width: 510px;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 20px;
    .pj-category-select-btn {
      min-width: 133px;
      max-width: 200px;
      width: fit-content;
      height: 55px;
      border: 1px solid #d9d9d9;
      border-radius: 15px;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-size: 21px;
      color: #000;
    }
    .pj-category-select-btn.isActive {
      background: #00c78c;
      color: #ffffff;
    }
    .pj-category-write-btn {
      min-width: 133px;
      max-width: 200px;
      width: fit-content;
      height: 55px;
      border: 1px solid #d9d9d9;
      border-radius: 20px;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-size: 21px;
      color: #d9d9d9;
    }
  }
}

.pj-intro-container {
  width: 100%;
  margin-top: 73px;
  .pj-intro-title {
    font-size: 23px;
    font-weight: 600;
  }
  .pj-intro-main-write-title {
    width: 600px;

    height: 306px;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    margin-top: 22px;
    .pj-intro-main-input {
      padding: 15px;
      border: none;
      border-radius: 15px;
      width: 100%;
      height: 90%;
      box-sizing: border-box;
      font-size: 16px;
      resize: none; /* 텍스트 영역 크기 조정 비활성화 */
      outline: none;
      text-align: left; /* 왼쪽 정렬 */
      vertical-align: top; /* 상단 정렬 */
      overflow-y: auto;
    }
    .pj-intro-char-count {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      margin-right: 10px;
      font-size: 14px;
      color: #a9a9a9;
    }
  }
}
